@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translate3d(30%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.export-content {
    border: 1px solid #d8d8da;
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex: 1;
    &:hover {
        border-color: #b1b0b5;
    }
    pre {
        margin: 0;
    }
}

.copy-button {
    background-color: transparent;
    border: 1px solid #b1b0b5;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    &:hover {
        outline: 1px solid #b1b0b5;
    }
}

.copy-tip {
    animation: fade-in-right 0.3s;
    font-size: 0.8rem;
    margin-right: 1rem;
    display: inline-block;
}
.export-type {
    background-color: transparent;
    border-radius: 0.3rem;
    border: 1px solid #b1b0b5;
}

.modal {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
