@import './variable.scss';

@font-face {
    font-family: 'cfkai';
    src: url('./assets/cfkai.ttf');
}

@keyframes shake {
    from {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-50deg);
    }
    70% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes flash {
    from,
    80%,
    to {
        box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
    }
    40% {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
    }
}

@keyframes heart-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    min-width: 1000px;
    font-family: $default-font-zm;
}
p {
    margin: 0;
}

html,
body,
#root,
.main {
    height: 100%;
}

a {
    color: inherit;
}

body,
.main {
    // background-image: url(./texture.png);
    will-change: background-color, color;
    transition: background-color $color-transition-duration, color $color-transition-duration;
}

.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: auto;
    align-items: stretch;
}

.color-list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 3rem 0 1.5rem 1.5rem;
    box-sizing: border-box;
    text-transform: uppercase;
    .placeholder,
    .color-card {
        flex: 1 0 10rem;
        min-width: 10rem;
        margin: 0 0 $margin * 2 $margin * 2;
    }
    .placeholder {
        visibility: hidden;
        &:last-of-type {
            height: 1.5rem;
        }
    }
}

.color-card {
    display: flex;
    align-items: center;
    font-weight: 900;
    border-radius: 1px;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    cursor: pointer;

    will-change: background, opacity;
    transition: background 1s, opacity 1s;

    &[data-active='true'] {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        opacity: 0.6;
        .heart {
            display: initial;
        }
    }

    &.fav {
        order: -1;
        .heart {
            display: initial;
        }
    }
    .heart {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        width: 1rem;
        display: none;
        opacity: 0.7;
        transform: scale(0.8);
        transition: opacity 0.2s, transform 0.2s cubic-bezier(0.87, -0.09, 0.17, 2.51);
        fill: #ee3f4d;
        animation: heart-show 0.5s;
        &:hover {
            transform: scale(1);
            opacity: 1;
        }
    }
    .wrap {
        padding: $margin;
    }
    .color-bar {
        height: 100%;
        width: 0.4rem;
        will-change: background;
        transition: background 1s;
        margin-right: $margin;
    }
    .name {
        margin-bottom: $margin;
        font-family: $default-font-hz;
    }
    .hex {
        margin-top: $margin;
    }
}

.display {
    position: absolute;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    overflow: hidden;

    .toggler {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0.3rem;
        justify-content: center;
        border-width: 2px 0 2px 2px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.2);
        opacity: 0.7;
        will-change: opacity, background, box-shadow, border-color;
        transition: opacity 0.5s, fill $color-transition-duration, border-color $color-transition-duration;
        right: -0.1rem;
        top: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.3rem 0 0 0.3rem;
        cursor: pointer;
        .icon {
            width: 1.2rem;
            height: 1.2rem;
            will-change: fill;
            transition: fill $color-transition-duration;
        }
        &:hover {
            opacity: 1;
        }
        &.open {
            background-color: rgba(255, 255, 255, 0.4);
            opacity: 1;
        }
        &:not(.open) {
            animation: flash 2s cubic-bezier(0.65, 0.13, 1, 1) infinite;
        }
    }
}

.common,
.editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3rem $margin * 2 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

@keyframes logo {
    0%,
    to {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
}

.common {
    .content {
        flex: 1 0;
    }
    h1 {
        text-align: center;
        font-size: 5rem;
        font-weight: 900;
        line-height: 1.4em;
        letter-spacing: 2rem;
        text-indent: 2rem;
        user-select: none;
        margin: 0 0 1rem;
        position: relative;
        .logo {
            position: absolute;
            top: 1.1rem;
            left: 50%;
            margin-left: 13rem;
            animation: logo infinite 5s;
        }
    }
    h2 {
        text-align: center;
        font-size: 2rem;
        user-select: none;
        margin: 1rem 0 3rem;
        text-transform: uppercase;
    }
    h1 {
        font-family: $special-font-hz;
    }
    h2 {
        font-family: $special-font-zm;
    }

    .wrap {
        display: flex;
        justify-content: center;

        .text {
            margin-right: 2rem;
            display: flex;
            justify-content: space-between;
            width: 7rem;

            .name,
            .pinyin {
                writing-mode: vertical-lr;
                font-size: 2.5rem;
                flex: 1;
                will-change: max-height;
                overflow: hidden;
                max-height: 0;
                &.animate {
                    transition: max-height 1s;
                    max-height: 500px;
                }
            }
            .name {
                margin-left: $margin;
                font-family: $special-font-hz;
            }
            .pinyin {
                font-family: $special-font-zm;
                text-transform: uppercase;
            }
        }

        .color {
            padding-top: $margin;
            font-family: $normal-font;
            .hex,
            .rgb {
                margin-bottom: $margin * 2;
                user-select: all;
            }
            .hex {
                &::before {
                    content: 'HEX: ';
                    margin-right: $margin;
                }
            }
            .rgb {
                &::before {
                    content: 'RGB: ';
                    margin-right: $margin;
                }
            }
        }
    }
}

.editor {
    transform: translateX(100%);
    will-change: transform, background;
    transition: transform cubic-bezier(0.68, -0.14, 0.15, 1.35) 0.5s, background $color-transition-duration;
    font-family: $default-font-hz;
    padding: 3rem 0 0 2em;
    // background-image: url(./texture.png);
    .preview {
        padding-right: 2rem;
        flex: 1 0;
    }
    .preview > *,
    .button,
    .line,
    .block,
    .link,
    code {
        will-change: color, background-color, border-color, box-shadow;
        transition: color $color-transition-duration, background-color $color-transition-duration,
            border-color $color-transition-duration, box-shadow $color-transition-duration;
    }
    .preview > * {
        margin-bottom: 1rem;
    }

    &.open {
        transform: translateX(0%);
    }

    h1,
    h2 {
        text-align: center;
    }
    p {
        text-indent: 2em;
        line-height: 1.5em;
        margin-bottom: 1rem;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li + li {
            margin-top: 0.4rem;
        }
    }
    .line {
        margin: 1rem 0;
        height: 1px;
    }
    .block {
        border: 2px solid;
        border-color: inherit;
        padding: 1rem;
        border-radius: 4px;
        header {
            text-align: center;
        }
    }
    .button {
        border: 1px solid;
        border-radius: 2px;
        outline: none;
        margin: 0;
        padding: 0 2em;
        line-height: 2em;
        cursor: pointer;
    }
    .button + .button {
        margin-left: 1rem;
    }
}

.editor .controls {
    position: sticky;
    bottom: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
}
.editor .exporter {
    position: absolute;
    bottom: 1rem;
    right: 0;
    cursor: pointer;
    padding: 0 1rem;
}
.control {
    display: inline-flex;
    align-items: center;
}
.control + .control {
    margin-left: 1rem;
}
select.control {
    background-color: transparent;
    border-radius: 0.3rem;
    border-color: rgba(0, 0, 0, 0.4);
    color: inherit;
}
.control.checkbox {
    cursor: pointer;
    .icon {
        border-radius: 0.2rem;
        margin-right: 0.3rem;
        width: 0.8rem;
        height: 0.8rem;
        box-sizing: border-box;
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    &.checked .icon {
        background: currentColor;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.7);
        will-change: color, background-color, border-color;
        transition: color $color-transition-duration, background-color $color-transition-duration,
            border-color $color-transition-duration;
    }
}

.rgb-strips {
    .rgb-strip {
        height: 1px;
        width: 8rem;
        background-color: rgba(255, 255, 255, 0.4);
        .color-bar {
            height: 2px;
        }
        + .rgb-strip {
            margin-top: $margin;
        }
        .color-r {
            background-color: rgba(200, 0, 0, 0.2);
        }
        .color-g {
            background-color: rgba(0, 200, 0, 0.2);
        }
        .color-b {
            background-color: rgba(0, 0, 200, 0.2);
        }
    }
}

.rgb-card {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    .rgb-block {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        width: 3.4rem;
        text-align: right;
        font-size: 1.5rem;
        padding: 1rem 0.5rem 0;
        position: relative;
    }
    .color-r,
    .color-g,
    .color-b {
        &::before {
            content: 'R';
            font-size: 12px;
            position: absolute;
            left: 0.5rem;
            top: 0.5rem;
        }
    }
    .color-g::before {
        content: 'G';
    }
    .color-b::before {
        content: 'B';
    }
}

$footer-margin: 1.5rem;

@keyframes card-flip {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.footer .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info,
.question,
.github {
    display: inline-block;
    will-change: transform, background-color;
    margin-left: 0.5rem;

    .icon {
        cursor: pointer;
        text-align: center;
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.3);
        line-height: 1rem;
        font-size: 1rem;
        &::before {
            content: 'i';
            font-family: monospace;
            font-style: normal;
            will-change: transform;
            transition: transform 0.5s;
        }
    }

    &:hover {
        .icon {
            background-color: rgba(255, 255, 255, 0.2);
        }
        .card {
            display: block;
            animation: 0.5s forwards card-flip;
        }
    }

    .card {
        display: none;
        position: absolute;
        right: -1.3rem;
        bottom: 100%;
        white-space: nowrap;
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
        will-change: transform;
        transform: rotateX(90deg);
        transform-origin: bottom;
        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.6rem 0.8rem 0 0.8rem;
            border-color: rgba(255, 255, 255, 0.3) transparent transparent transparent;
            position: absolute;
            right: 1.2rem;
            top: 100%;
        }
        .content {
            background-color: rgba(255, 255, 255, 0.3);
            position: relative;
            border-radius: 0.3rem;
            padding: 0.8rem;
            line-height: 1.5rem;
        }
    }
}

.copyright {
    display: flex;
}

.info {
    .icon {
        transform: scale(0.7);
    }
}
.question,
.github {
    .icon {
        width: 1.2rem;
        height: 1.2rem;
        border-width: 3px;
        line-height: normal;
    }
    &:hover {
        .icon {
            animation: 1s forwards shake;
        }
    }
}
.question {
    .icon {
        &::before {
            content: '?';
        }
    }
    .card {
        padding-bottom: 1rem;
    }
    .content {
        width: 20rem;
        max-height: 20rem;
        white-space: pre-line;
        font-family: $default-font-hz;
        p {
            line-height: 1.1rem;
        }
        p + p {
            margin-top: 0.3rem;
        }
        h2 {
            font-family: $default-font-hz;
            font-size: 1.3rem;
            margin: 0 0 0.4rem 0;
        }
        img {
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 0.2rem;
            padding: 2px;
        }
    }
}

.display .footer {
    position: sticky;
    bottom: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a,
    a:active,
    a:visited {
        color: inherit;
    }
}

@media (max-width: 1280px) {
    body {
        font-size: 15px;
    }
    .display .common h1 {
        letter-spacing: 1rem;
        text-indent: 1rem;
        .logo {
            margin-left: 11.5rem;
        }
    }
}
@media (max-width: 1080px) {
    body {
        font-size: 14px;
    }
    .display .common h1 {
        letter-spacing: initial;
        text-indent: initial;
        .logo {
            margin-left: 10rem;
        }
    }
}

kbd {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
}
