$margin: 0.3rem;
$special-font: 'Academy Engraved LET', 'American Typewriter', monospace, 'Xingkai SC';
$default-font: 'Bradley Hand', 'Academy Engraved LET', 'American Typewriter', monospace, 'Weibei SC', STXingkai,
    'KaiTi SC', STKaiTi;
$normal-font: monospace;
$color-transition-duration: 1s;

@keyframes shake {
    from {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-50deg);
    }
    70% {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(0deg);
    }
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 1000px;
    font-family: $default-font;
}
p {
    margin: 0;
}

html,
body,
#root,
.main {
    height: 100%;
}

a {
    color: inherit;
}

body,
.main {
    background-image: url(./texture.png);
    will-change: background-color, color;
    transition: background-color $color-transition-duration, color $color-transition-duration;
}

.main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    overflow: auto;
    align-items: stretch;
}

.color-list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 3rem 0 1.5rem 1.5rem;
    box-sizing: border-box;
    .placeholder,
    .color-card {
        flex: 1 0 10rem;
        min-width: 10rem;
        margin: 0 0 $margin * 2 $margin;
    }
    .placeholder {
        visibility: hidden;
        &:last-of-type {
            height: 1.5rem;
        }
    }
}

.color-card {
    display: flex;
    align-items: center;
    font-weight: 900;
    border-radius: 1px;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;

    will-change: background, opacity, color;
    transition: background 1s, color 1s, opacity 1s;

    &[data-active='true'] {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        opacity: 0.6;
    }

    .wrap {
        padding: $margin;
    }
    .color-bar {
        height: 100%;
        width: 0.4rem;
        will-change: background;
        transition: background 1s;
        margin-right: $margin;
    }
    .name {
        margin-bottom: $margin;
    }
    .hex {
        margin-top: $margin;
    }
}

.display {
    position: absolute;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 40%;
    will-change: color;
    transition: color $color-transition-duration;
    height: 100%;
    overflow: hidden;

    .common,
    .editor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 3rem $margin * 2 0;
    }

    .common {
        h1 {
            text-align: center;
            font-size: 5rem;
            font-weight: 900;
            line-height: 1.4em;
            letter-spacing: 2rem;
            text-indent: 2rem;
            user-select: none;
            margin: 0 0 1rem;
        }
        h2 {
            text-align: center;
            font-size: 2rem;
            user-select: none;
            margin: 1rem 0 3rem;
        }
        h1,
        h2 {
            font-family: $special-font;
        }

        .wrap {
            display: flex;
            justify-content: center;

            .text {
                margin-right: 2rem;
                display: flex;
                justify-content: space-between;
                width: 7rem;
                font-family: $special-font;

                .name,
                .pinyin {
                    writing-mode: vertical-lr;
                    font-size: 2.5rem;
                    flex: 1;
                    will-change: max-height;
                    overflow: hidden;
                    max-height: 0;
                    &.animate {
                        transition: max-height 1s;
                        max-height: 500px;
                    }
                }
                .name {
                    margin-left: $margin;
                }
            }

            .color {
                padding-top: $margin;
                font-family: $normal-font;
                .hex,
                .rgb {
                    margin-bottom: $margin * 2;
                    user-select: all;
                }
                .hex {
                    &::before {
                        content: 'HEX: ';
                        margin-right: $margin;
                    }
                }
                .rgb {
                    &::before {
                        content: 'RGB: ';
                        margin-right: $margin;
                    }
                }
            }
        }
    }

    .editor {
        position: relative;
        transform: translateX(100%);
        will-change: transform;
        transition: transform ease-in-out 1s;

        &.open {
            transform: translateX(0%);
        }

        .toggler {
            position: absolute;
            display: flex;
            width: 1.4rem;
            height: 3rem;
            align-items: center;
            justify-content: center;
            border-width: 1px 0 1px 1px;
            border-style: dashed;
            border-color: rgba(255, 255, 255, 0.2);
            opacity: 0.5;
            will-change: opacity;
            transition: opacity 0.5s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.rgb-strips {
    .rgb-strip {
        height: 1px;
        width: 8rem;
        background-color: rgba(255, 255, 255, 0.4);
        .color-bar {
            height: 2px;
        }
        + .rgb-strip {
            margin-top: $margin;
        }
        .color-r {
            background-color: rgba(200, 0, 0, 0.2);
        }
        .color-g {
            background-color: rgba(0, 200, 0, 0.2);
        }
        .color-b {
            background-color: rgba(0, 0, 200, 0.2);
        }
    }
}

.rgb-card {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    .rgb-block {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        width: 3.4rem;
        text-align: right;
        font-size: 1.5rem;
        padding: 1rem 0.5rem 0;
        position: relative;
    }
    .color-r,
    .color-g,
    .color-b {
        &::before {
            content: 'R';
            font-size: 12px;
            position: absolute;
            left: 0.5rem;
            top: 0.5rem;
        }
    }
    .color-g::before {
        content: 'G';
    }
    .color-b::before {
        content: 'B';
    }
}

$footer-margin: 1.5rem;

@keyframes card-flip {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.info {
    position: absolute;
    right: 2rem;
    bottom: $footer-margin;
    display: block;
    will-change: transform, background-color;

    .icon {
        cursor: pointer;
        text-align: center;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.3);
        line-height: 1.5rem;
        font-size: 1.2rem;
        &::before {
            content: 'i';
            font-family: monospace;
            font-style: normal;
            text-transform: none;
            will-change: transform;
            transition: transform 0.5s;
        }
    }

    &:hover {
        .icon {
            animation: 1s forwards shake;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .card {
            display: block;
            animation: 0.5s forwards card-flip;
        }
    }

    .card {
        display: none;
        position: absolute;
        right: -1rem;
        bottom: 100%;
        white-space: nowrap;
        padding-bottom: 1rem;
        font-size: 0.8rem;
        will-change: transform;
        transform: rotateX(90deg);
        transform-origin: bottom;
        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0.6rem 0.8rem 0 0.8rem;
            border-color: rgba(255, 255, 255, 0.2) transparent transparent transparent;
            position: absolute;
            right: 1.2rem;
            top: 100%;
        }
        .content {
            background-color: rgba(255, 255, 255, 0.2);
            position: relative;
            border-radius: 0.3rem;
            padding: 0.8rem;
            line-height: 1.5rem;
        }
    }
}

.footer {
    position: absolute;
    bottom: $footer-margin;
    padding-left: 3rem;
    a,
    a:active,
    a:visited {
        color: inherit;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 13px;
    }
}
@media (max-width: 1000px) {
    body {
        font-size: 12px;
    }
}
