$margin: 0.3rem;
$special-font: 'Academy Engraved LET', 'American Typewriter', monospace, 'Xingkai SC';
$default-font: 'Bradley Hand', 'Academy Engraved LET', 'American Typewriter', monospace, 'Weibei SC', STXingkai,
    'KaiTi SC', STKaiTi;
$normal-font: monospace;

body {
    font-size: 14px;
    text-transform: uppercase;
    min-width: 1280px;
    font-family: $default-font;
}

.main {
    width: 100%;
    will-change: background-color, color;
    transition: background-color 0.5s, color 0.5s;
    background-image: url(./texture.png);
    padding-top: 3rem;
    position: relative;
}

.list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 1.4rem;
    box-sizing: border-box;
}

.color-card {
    display: flex;
    min-width: 10rem;
    flex: 1;
    align-items: center;
    font-weight: 900;
    border-radius: 1px;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.3);

    cursor: pointer;
    margin: 0 $margin $margin * 2;

    will-change: background, opacity, color;
    transition: background 1s, color 0.5s, opacity 0.5s;

    &[data-active='true'] {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        opacity: 0.6;
    }

    .wrap {
        padding: $margin;
    }
    .color-bar {
        height: 100%;
        width: 0.4rem;
        will-change: background;
        transition: background 1s;
        margin-right: $margin;
    }
    .name {
        margin-bottom: $margin;
    }
    .hex {
        margin-top: $margin;
    }
}

.display {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    flex-shrink: 0;
    will-change: background, color;
    transition: background 0.5s, color 0.5s;
    padding: 3rem $margin * 2 0;
    box-sizing: border-box;
    height: 100%;

    h1 {
        text-align: center;
        font-size: 5rem;
        font-weight: 900;
        line-height: 1.4em;
        letter-spacing: 2rem;
        user-select: none;
        margin: 0 0 1rem;
    }
    h2 {
        text-align: center;
        font-size: 2rem;
        user-select: none;
        margin: 1rem 0 3rem;
    }
    h1,
    h2 {
        font-family: $special-font;
    }

    .wrap {
        display: flex;
        justify-content: center;

        .text {
            margin-right: 2rem;
            display: flex;
            justify-content: space-between;
            width: 7rem;
            font-family: $special-font;

            .name,
            .pinyin {
                writing-mode: vertical-lr;
                font-size: 2.5rem;
                flex: 1;
            }
            .name {
                margin-left: $margin;
            }
        }

        .color {
            padding-top: $margin;
            font-family: $normal-font;
            .hex,
            .rgb {
                margin-bottom: $margin * 2;
                user-select: all;
            }
            .hex {
                &::before {
                    content: 'HEX: ';
                    margin-right: $margin;
                }
            }
            .rgb {
                &::before {
                    content: 'RGB: ';
                    margin-right: $margin;
                }
            }
        }
    }
}

.rgb-strips {
    .rgb-strip {
        height: 1px;
        width: 8rem;
        background-color: rgba(255, 255, 255, 0.4);
        .color-bar {
            height: 2px;
        }
        + .rgb-strip {
            margin-top: $margin;
        }
        .color-r {
            background-color: rgba(200, 0, 0, 0.2);
        }
        .color-g {
            background-color: rgba(0, 200, 0, 0.2);
        }
        .color-b {
            background-color: rgba(0, 0, 200, 0.2);
        }
    }
}

.rgb-card {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    .rgb-block {
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        width: 3.4rem;
        text-align: right;
        font-size: 1.5rem;
        padding: 1rem 0.5rem 0;
        position: relative;
    }
    .color-r,
    .color-g,
    .color-b {
        &::before {
            content: 'R';
            font-size: 12px;
            position: absolute;
            left: 0.5rem;
            top: 0.5rem;
        }
    }
    .color-g::before {
        content: 'G';
    }
    .color-b::before {
        content: 'B';
    }
}

.question,
.info {
    position: absolute;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: block;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;

    &::before {
        content: '?';
        font-family: monospace;
        font-style: normal;
        text-transform: none;
    }
}

.question {
    bottom: 5rem;
}
.info {
    bottom: 8rem;
    &::before {
        content: 'i';
    }
}

.footer {
    position: absolute;
    bottom: 5rem;
    padding-left: 3rem;
}
