$margin: 0.3rem;
$special-font-hz: 'Xingkai SC', '方正楷体', '楷体', '华文楷体', '黑体', 'cfkai';
$special-font-zm: 'Academy Engraved LET', 'American Typewriter', 'Bradley Hand', Avenir, monospace;
$default-font-hz: 'Weibei SC', STXingkai, 'KaiTi SC', STKaiTi, '黑体', '宋体', 'Xingkai SC';
$default-font-zm: 'Bradley Hand', 'American Typewriter', Avenir, monospace;
$normal-font: Avenir, monospace;
$color-transition-duration: 1s;
