$margin: 0.3rem;
$special-font-hz: 'Xingkai SC', 'cfkai';
$special-font-zm: 'Academy Engraved LET', 'American Typewriter', 'Bradley Hand', monospace;
$default-font-hz: 'Weibei SC', STXingkai, 'KaiTi SC', STKaiTi, 'Xingkai SC';
$default-font-zm: 'Bradley Hand', 'American Typewriter', monospace;
$normal-font: monospace;
$color-transition-duration: 1s;
